---
layout: default
title: About Coreix
---

{% include title/about-us.html %}
{% include navigation/about-us.html %}
{% include title/default.html param="Coreix brings a commitment to excellence in the provision of datacentre services that is second to none." variable-param=page.variable %}

<section class="image-features" style="padding-top: 0px; background: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <div class="image-feature"><img alt="Feature Image" src=
                "/img/nav_std_cert_1.png"></div>
            </div>

            <div class="col-md-2">
                <div class="image-feature"><img alt="Feature Image" src=
                "/img/nav_std_cert_2.png"></div>
            </div>

            <div class="col-md-2">
                <div class="image-feature"><img alt="Feature Image" src=
                "/img/nav_std_cert_3.png"></div>
            </div>

            <div class="col-md-2">
                <div class="image-feature"><img alt="Feature Image" src=
                "/img/nav_std_cert_4.png"></div>
            </div>
        </div>
    </div>
</section>

<section class="article-wrapper" style=
"padding-top: 0px; background: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="article-single text-center">
                    <p>Historically our core competency has been the delivery,
                    management and support of dedicated servers. As our
                    business has grown and matured we have maintained our
                    position as a market leader for managed servers and now
                    compliment this with our ability to offer colocation and
                    connectivity services.</p>

                    <p>An effective hosting solution must balance the risks and
                    controls with your business requirements. We offer a proven
                    methodology supported by a unique combination of expertise,
                    resources and solutions to address our clients' needs.</p>

                    <p>With Coreix on your team you can tap into an industry
                    leading source of experience, expertise and skill that is
                    not readily available with any other datacentre
                    provider.</p>

                    <p>Our clients all have a common need - to deploy a cost
                    effective hosting solution in a minimum risk environment.
                    Contact Coreix today to find our more about how working
                    with us can provide the optimum hosting environment for
                    your mission critical systems.</p>
                </div>
            </div>
        </div>
    </div>
</section>
