---
layout: colocation-and-networking
title: Colocation & Networking - Coreix
---

<!-- Start initial section -->
<!-- Include <p></p> tags after {% include section/start.html %}. Edit title using title="" -->
{% include section/start.html title="Colocation and networking solutions engineered for your business" variable-param=page.variable %}

  <p style="padding-top: 30px; font-size: 17px;">Coreix offers energy efficient premium colocation services from its enterprise grade datacentre facilities which are all situated within the M25.</p>
  <p style="font-size: 17px;">The team at Coreix offers a host of tailored solutions to clients ranging from quarter cabs to dedicated private suites from its enterprise grade secure and robust tier III datacentre facilities within the M25 in London. Coreix provides the ultimate hosting environment for mission critical IT services with its numerous stringent physical and network security accreditations, policies and procedures including PCI DSS and ISO: 27001 which are followed to ensure that your business does not experience a moment of downtime.</p>

	<a class="btn" href="#" style="color: #769259; border-color: #769259; padding: 10px;">Book a tour</a>
	<a class="btn" href="#" style="color: #769259; border-color: #769259; padding: 10px;">Request a quote</a>

<!-- Do not include initial section content after {% include section/end.html %} -->
<!-- To edit the right hand image edit image="" -->
{% include section/end.html image="/img/enfield.jpg" variable-param=page.variable %}

<!-- Expanding blocks for Colocation -->
{% include colocation/blocks.html %}

<!-- Large page break title. To modify the title edit title="" -->
{% include large-title.html title="Robust, resilient tier III enterprise grade facilities for your mission critical IT infrastructure" variable-param=page.variable %}

<!-- Image (on the right) feature block with text -->
<!-- Include <p></p> tags after {% include image-block/right/start.html %}. Edit title using title="" -->
{% include image-block/right/start.html title="As your servers, systems and infrastructure are our priority, Coreix takes a multi-tiered approach to both its physical and network security policies, procedures and screening processes." variable-param=page.variable %}

  <p class="lead">The company also holds an array of information security (ISO 9001:2008), Information Security Management (ISO:27001:2005), PCI DSS, Environmental Management, Information Governance and Employment Screening accreditations in order to give you as a customer peace of mind that your systems and infrastructure are in safe hands.</p>

	<a class="btn" href="#" style="color: #769259; border-color: #769259; padding: 10px;">Contact a Coreix specialist</a>

<!-- Do not include any more feature text after here {% include image-block/right/end.html %} -->
<!-- To edit the right hand image edit image="" -->
{% include image-block/right/end.html image="/img/colocation/P1010147.JPG" variable-param=page.variable %}

<!-- Image (on the left) feature block with text -->
<!-- Include <p></p> tags after {% include image-block/right/start.html %}. Edit title using title="" -->
{% include image-block/left/start.html title="On-site experienced operations team available 24x7x365." variable-param=page.variable %}

  <p class="lead">Our technical services are available on both on an ad-hoc and contracted basis with a five minute first response SLA as standard. This service is available on a 24x7x365 basis which provides customers with the reassurance that their equipment is being stored in the ultimate mission critical hosting environment.</p>

	<a class="btn" href="#" style="color: #769259; border-color: #769259; padding: 10px;">Find out more</a>
  <a class="btn" href="#" style="color: #769259; border-color: #769259; padding: 10px;">Contact a Coreix specialist</a>

<!-- Do not include any more feature text after here {% include image-block/right/end.html %} -->
<!-- To edit the right hand image edit image="" -->
{% include image-block/left/end.html image="/img/colocation/P1010139.JPG" variable-param=page.variable %}

<!-- Image (on the right) feature block with text -->
<!-- Include <p></p> tags after {% include image-block/right/start.html %}. Edit title using title="" -->
{% include image-block/right/start.html title="N+1 power redundancy, multiple resilient HV diesel generators and N+N UPS protection across our data centre portfolio." variable-param=page.variable %}

  <p class="lead">Each of our sites provides an average uptime of >99.997%. To ensure power availability, our facilities provide a minimum of N+1 power redundancy, which means that your mission critical applications, infrastructure and systems have at least one backup power feed that will kick in in the unlikely event of an outage.</p>
  <p class="lead">As standard, your rack power is reserved on two independent UPS strings in the primary datacentre for complete redundancy.</p>
  <p class="lead">Our datacentres have an on-site, private substation fed diversely so that we’re not reliant on a single mains supply to power our hosting facilities. A+B xxAMP rated circuts are standard with a minimum of UPS power protection.</p>

  <a class="btn" href="#" style="color: #769259; border-color: #769259; padding: 10px;">Find out more</a>
  <a class="btn" href="#" style="color: #769259; border-color: #769259; padding: 10px;">Contact a Coreix specialist</a>

<!-- Do not include any more feature text after here {% include image-block/right/end.html %} -->
<!-- To edit the right hand image edit image="" -->
{% include image-block/right/end.html image="/img/P1010198.JPG" variable-param=page.variable %}
