---
layout: default
title: Careers - Coreix
---

		<section class="hero-slider large-image">
				<ul class="slides">
					<li style="height: 300px;">
						<div class="background-image-holder">
							<img alt="Slide Background" class="background-image" src="/img/about-us/careers-image.jpg">
						</div>
					
						<div class="video-holder  video-wrapper">
						</div>	
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-sm-12" style="padding-top: 100px;">
									<h1 class="text-white">Careers</h1>
								</div>
							</div>
						</div>	
					</li>
				
				</ul>
			</section>
			
{% include navigation/about-us.html %}
{% include title/default.html param="Coreix is always seeking creative and driven individuals who excel at working in a fast paced environment to join our growing team." variable-param=page.variable %}
