<section class="action-strip-2" style="z-index: 10000; background: none; padding: 0px; background: #ffffff; padding-top: 15px; padding-bottom: 10px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<ul class="submenu" style="list-style-type: none;">
					<li style="display: inline;">
						<a href="/about-us" style="border-bottom: 2px solid #777; padding-bottom: 2px;">Company</a>
					</li>


					<li style="display: inline;">
						<a href="/our-commitments">Our Commitments</a>
					</li>


					<li style="display: inline;">
						<a href="/management-team">Management Team</a>
					</li>


					<li style="display: inline;">
						<a href="/testimonials">Testimonials</a>
					</li>


					<li style="display: inline;">
						<a href="/partner-program">Partner Program</a>
					</li>


					<li style="display: inline;">
						<a href="/careers">Careers</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
