<div class="nav-container">


  <nav class="nav-1" style="max-width: 100%; background: rgb(0,47,108); border-bottom: 1px solid rgba(255, 255, 255, 0.2);">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <a href="/" class="home-link">
            <img alt="Logo" class="logo" style="margin-right: 30px; width: 85px;" src="https://console.coreix.net/assets/cwhite.png">
          </a>

          <div class="nav-functions">

            <div class="search-bar" style="float: right;">
              <form class="search">
                <input type="text" placeholder="" name="search">
                <input type="submit" value="">
                <i class="pe-7s-search"></i>
              </form>
            </div>
          </div>

          <ul class="menu" style="float: right;">

            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
            <li><a href="https://console.coreix.net" target="_blank">Client Login</a></li>
            <li><a href="#"><i class="social_twitter"></i></a></li>
            <li><a href="#"><i class="icon social_google"></i></a></li>
            <li><a href="#"><i class="icon social_linkedin"></i></a></li>
          </ul>



        </div>
      </div>
    </div>

    <div class="mobile-toggle">
      <div class="bar-1"></div>
      <div class="bar-2"></div>
    </div>
  </nav>

</div>
