<section class="image-block">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="text-block">
								<h3 style="color: #56aadb;">Robust resilient energy efficient premium datacentre facilities</h3>
							
                                    <p class="lead">
Coreix offers energy efficient premium colocation services from its enterprise grade datacentre facilities which are all situated within the M25.</p> <p class="lead">
The team at Coreix offers a host of tailored solutions to clients ranging from quarter cabs to dedicated private suites from its enterprise grade secure and robust tier III datacentre facilities within the M25 in London. Coreix provides the ultimate hosting environment for mission critical IT services with its numerous stringent physical and network security accreditations, policies and procedures including PCI DSS and ISO: 27001 which are followed to ensure that your business does not experience a moment of downtime.  
								</p>
								<a class="btn" href="#" style="color: #66b2de; border-color: #66b2de; padding: 10px;">Contact a Coreix specialist</a>
							</div>
						</div>
					</div>
				</div>
			
				<div class="image-holder col-sm-5 pull-right">
					<div class="background-image-holder">
						<img alt="Slide Background" class="background-image" src="http://www.webpt.com/sites/default/files/mantrap.jpg">
					</div>
				</div>
			
			</section>       
