<section class="fullwidth-features" style="background: #ffffff;">

				<div class="col-sm-3">
					<div class="fullwidth-feature">
						<div class="top" style="background: #678647;">
							<i class="pe-7s-tools"></i>
							<h5>Quarter Rack</h5>
							<div class="detail-line"></div>
							<p>
							Perfect as an entry level colocation solution; combining significantly lower costs than a full rack colocation with upgradable bandwidth and power where necessary to ensure a flexible solution. Quarter rack colocation is ideal for smaller businesses that are looking to host their equipment in a secure facility that adheres to strict SLAs for uptime and other key variables.
							</p>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="fullwidth-feature">
						<div class="top" style="background: #769259">
							<i class="pe-7s-umbrella"></i>
							<h5>Half Rack</h5>
							<div class="detail-line"></div>
							<p>
							Half rack colocation is often used as a disaster recovery solution for larger companies as the majority of companies take the jump straight from a quarter rack straight to a full rack. This half rack will be located in an alternative data centre facility to the full rack solution, so if the worst should happen, all data can be backed up and available offsite.
							</p>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="fullwidth-feature">
						<div class="top" style="background: #678647;">
							<i class="pe-7s-shopbag"></i>
							<h5>Full Rack</h5>
							<div class="detail-line"></div>
							<p>
							Businesses needing full rack colocation are likely to require hosting for a number of servers with dedicated connections and high bandwidth requirements & are looking for full access to their own individual rack. This includes large e-commerce businesses that rely on a large amount of database processing power and large multinational companies that host their sites across the global market.
							</p>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="fullwidth-feature">
						<div class="top" style="background: #769259">
							<i class="pe-7s-shopbag"></i>
							<h5>Bespoke Colocation</h5>
							<div class="detail-line"></div>
							<p>
							Whether you are looking for a private suite or a data hall, our team of trained datacentre and network engineers will listen to your colocation and network requirements and tailor a solution which suits your IT strategy and budget.
							</p>
						</div>
					</div>
				</div>

			</section>
